body {
	background-color: #010101;
}
.car {
	border: 2px azure solid;
	margin: 10px;
	padding: 10px;
}
.car .hide {
	display: none;
}
.car .car__infopanel {
	font-weight: bold;
	color: aliceblue;
}
.car .car__infoPanel span {
	font-style: aliceblue;
}
.car .car__controls {
	color: aliceblue;
}
